<div class="modal-body wrapper-lg">
    <h3 class="m-t-none m-b font-thin">Видалити замовлення</h3>
    <blockquote>
        <h3 class="text-danger">{{orderToDelete.address}}</h3>
        <h4 class="text-muted">{{orderToDelete.client_name}} ({{orderToDelete.client_phone}})</h4>
        <p class="text-muted">{{orderToDelete.weight}} кг</p>
    </blockquote>
    <p>Ви впевнені що хочете видалити це замовлення?</p>
    <button class="btn btn-danger" ng-click="$close(orderToDelete)"><i class="glyphicon glyphicon-trash"></i> Видалити
    </button>
    <a href class="btn" ng-click="$dismiss('cancel')">Відмінити</a>
</div>