<div class="bg-light lter b-b wrapper-md" ng-init="app.settings.asideHide = true">
    <h1 class="m-n font-thin h3"><i class="icon-calendar fa-fw"></i> &nbsp; Історія</h1>
</div>
<div class="wrapper-md">
    <div class="row">
        <div class="m-sm">
            <div class="panel panel-default hidden-print">
                <div class="panel-heading lt wrapper-sm" ng-class="app.themeColor">
                    <button type="button" class="btn btn-default btn-xs pull-right" ng-click="toggleCharts()"><i class="glyphicon glyphicon-stats"></i></button>
                    <span class="h4 text-white">Статистика</span>
                </div>
                <div ng-show="app.showCharts">
                    <div google-chart chart="chart" style="height:300px; width:100%;"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="m-sm">
            <div class="panel panel-default">
                <div class="table-responsive" ng-show="dates.length > 0">
                    <table st-table="displayDates" st-safe-src="dates" class="table table-condensed b-light">
                        <thead class="text-white" ng-class="app.themeColor">
                        <tr>
                            <th>ДАТА</th>
                            <th><i class="icon-present fa-fw"></i></th>
                            <th><i class="icon-speedometer"></i></th>
                            <th>&nbsp;</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="orderDate in displayDates" ng-class="{'bg-success lter bg-gd text-white font-bold': orderDate.isToday}">
                            <td>{{orderDate.date}}</td>
                            <td>{{orderDate.amount}}</td>
                            <td>{{orderDate.total_weight}} кг</td>
                            <td class="commands">
                                <a href ng-click="selectDate(orderDate.date)" class="btn btn-default btn-sm"><i class="glyphicon glyphicon-list"></i></a>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>
                        <tr>
                            <td colspan="4" class="text-center">
                                <div st-pagination="" st-items-by-page="app.settings.itemsPerPage" st-displayed-pages="7"></div>
                            </td>
                        </tr>
                        </tfoot>
                    </table>
                </div>
                <div class="wrapper-lg" ng-show="isLoading">
                    <progressbar class="progress-striped active" value="100" type="info">Завантаження...</progressbar>
                </div>
                <footer class="panel-footer text-muted text-shadow text-center bg-light dker wrapper-lg" ng-hide="dates.length > 0 || isLoading">
                    <div class="h2">Немає жодного дня із замовленням</div>
                </footer>
            </div>
        </div>
    </div>
</div>